@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #a4af0ed2;
  border-radius: 3rem;
}

body {
  background: #FBFCFC;
  position: relative;
  z-index: 2;
  font-family:ProximaNova, Arial, sans-serif;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  padding: .5rem 5rem;
 /* background: rgb(25, 29, 29);
background: linear-gradient(0deg, rgb(138, 179, 179) 32%, rgba(255,255,255,1) 100%);

  /**border: 0.1rem solid #aaa;**/
  border-radius: .5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #0e69afd2 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  z-index: 5000;
  background: #85C1E9;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
}

.header .logo span {
  color: grey;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  color:#2B5D7F;
    border-bottom: 5px solid rgb(103, 101, 101); /* change the color to any color you like */
  }
.imglog{
margin-bottom:0%;
height:32px;
width:32px;

}
.imglogo{
height:60px;
width:220px;
}
.main{
margin:10%;
margin-top:100px;
}
h5{
font-size:15px;
color:#BFC9CA;
}
h4{
margin-top:20px;
margin-bottom:20px;
font-size:14px;
}
h2{
font-size:20px;
font-weight: bold;

}
body{

  font-family:Comic Sans MS;
        line-height: 1.5;

}
.credit {
display:fixed;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
  background: #85C1E9;
  line-height: 1.5;
}

.credit span {
  color: #a4af0ed2;
}
.blogimg{
height:400px;
width:500px;
}
.recom_img{
width:250px;
height:200px;

}
.tt{
font-size:20px;
}
a{
text-decoration:none}