<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>How To Best Shake Up Your Gym Routine</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/blog_styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
  <nav class="navbar">
  <ul class="nav-links">
    <li class="logo"><img class="imglogo" src="{{ url_for('static', filename='images/BRAND2/MAINLOGO.png') }}" /></li>
    <li class="push"></li>
    <li><a href="/home" class="nav-link">Home</a></li>
    <li><a href="home#blogs" class="nav-link">Articles</a></li>
    <li><a href="chat" class="nav-link">AiCoach</a></li>
    <li><a href="login"><img class="imglog" src="{{ url_for('static', filename='images/loginRED2.png') }}" /></a></li>

  </ul>
</nav>

<br><br>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">if it fits your macros (IIFYM) Basics </h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on april 5, 2023 by chris Bumstard</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Nutrition


</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Fitness tips



</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ url_for('static', filename='images/diet.webp') }}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">


                            <p class="fs-5 mb-4">If It Fits Your Macros Is A Diet That Has Gained Popularity Over The Course Of The Past Decade. It Rejects The Notion That You Have To Cut Out Certain Foods In Order To Reach Your Bodybuilding Goals, Instead Favoring The Counting Of Macronutrients And Calorie Intake. It Operates On The Principle Of Calories In Calories Out, Stating That You Need To Eat More Than You Burn To Gain Weight And Eat Less Than You Burn To Lose Weight. The Simplicity And Reliability Of This Meal Plan Allows You To Alter Your Body Composition Without Restricting Certain Foods, Which Helps Make It Easier To Stick To. Find Out Below How This Flexible Dieting Strategy Can Help You To Revolutionize Your Own Diet Plan.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Get It Going</h2>
                            <p class="fs-5 mb-4">Calorie Counting Is The Basis Of This Strategy, As Well As The Grounds For Allowing Diet Flexibility. In Order To Effectively Count Your Calories Though, You Must First Figure Out How Many Calories You Burn. This Can Be Done By First Using A Tdee (Total Daily Energy Expenditure) Calculator. By Plugging In Your Body Weight, Height, Gender, Age, And Activity Level, These Calculators Can Estimate Your Average Daily Calorie Requirements. From There, It’s As Simple As Adding 300-500 Calories In Order To Build Muscle Or Subtracting 500 Calories To Reduce Body Fat.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Macro Time</h2>
                            <p class="fs-5 mb-4">After Calories Comes Counting Macros. Macro Calculators Are Also Great For Giving You A Spread Of How Many Grams Of Protein, Grams Of Carbs, And Grams Of Fat You Need For Your Goals. Getting Enough Protein Is Essential For Building Optimal Lean Muscle Or Maintaining Muscle Mass When Aiming For Fat Loss. Carbohydrates Are Great For Helping Achieve Performance Fitness Goals. Timing The Majority Of Your Carbs Right Before And After Your Workouts Can Help You Get The Most From Your Iifym Diet. Finally, Healthy Fats Come In To Assist In Hormone Production And Satiation To Prevent Cravings From Taking Over.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Don’t Forget The Micros</h2>
                            <p class="fs-5 mb-4">Despite Any Food Being On The Table While Tracking Macros, Food Choices Are Still Relevant To Iifym Dieters. Macro Diets Are Meant To Give You Freedom With Focused Direction. As Such, A Focus On Food Quality And Healthy Eating Is Highly Encouraged. Ensuring That The Majority Of Your Diet Consists In Healthy Foods Will Keep Your Micronutrients Levels Balanced And Your Energy Consistent Throughout The Day. Keeping Processed Foods To A Minimum And Including Sufficient Veggies Is Always Beneficial. Still At The End Of The Day, The Most Impactful Measures Are Your Total Number Of Calories And The Amount Of Protein.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Macro Counting Meta
</h2>
                            <p class="fs-5 mb-4">Now Before Wrapping This Up, It Can Be Good To Know How To Best Accomplish Macro Counting. The Easiest Way To Consistently Ensure You’re Hitting Your Desired Macro Targets And Calorie Deficit/Surplus Is To Use An App. Myfitnesspal Has Carved Its Place In The Center Of The Macro Based Eating Plan World, However There Are Countless Different Ones That Each Offer Their Own Unique Perks. As Long As You Are Able To Track Your Macro Ratios, Then You’ll Be Great. Even Just A Pad And Paper Can Get The Job Done.</p>









                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="{{ url_for('static', filename='images/pers3.png') }}" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">William Davis</div>
                                            I always find switching up my cardio machines helps keep my workouts interesting and challenging.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="{{ url_for('static', filename='images/pers4.png') }}" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Michael Lee</div>
                                                Adding in new exercises and varying the number of reps and sets has been key for me in avoiding plateaus.                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="{{ url_for('static', filename='images/pers2.png') }}" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Robert Anderson</div>
                                                Group fitness classes have been a game changer for me - I get to try new workouts and meet new people.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="{{ url_for('static', filename='images/pers1.png') }}" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">David Nguyen</div>
                                            For me, setting specific goals and tracking my progress keeps me motivated and focused in the gym.                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Caloric deficit/surplus</a></li>
                                        <li><a href="#!">Supplements</a></li>
                                        <li><a href="#!">Meal prep</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Measurable

                                        </a></li>
                                        <li><a href="#!">Macros</a></li>
                                        <li><a href="#!">Fitness tips








                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->

                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="foterdiv">
            <div class=""><p class="fotter">Copyright &copy; Ai Coach 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/blog_script.js') }}"></script>
    </body>
</html>
